@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
html {
  height: 100%;
}
.header{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(to right, #DECBA4, #3E5151),url(images/women.png);
  background-position: center;
  background-size: cover;
  position: relative;
}